[Server]
host = 0.0.0.0
port = 8080

[Logging]
debug = false
access_log = ./logs/access.log
block_log = ./logs/block.log
no_logging_access = false
no_logging_block = false

[Files]
html_403 = assets/403.html

[Filtering]
no_filter = false
blocked_sites = config/blocked_sites.txt
blocked_url = config/blocked_url.txt

[Security]
ssl_inspect = false
inspect_ca_cert = certs/ca/cert.pem
inspect_ca_key = certs/ca/key.pem
inspect_certs_folder = certs/